@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif, cursive;
    // min-height: 100vh;
    background-color: #f0e7b7;
    background: linear-gradient(90deg, rgb(151, 7, 151) 0%, rgb(51, 51, 236) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    letter-spacing: 5px;

    @media screen and (min-width: 1001px) {
        font-size: 40px;
    }

    @media screen and (max-width: 1000px) {
        font-size: 20px;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);

    img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// image container
.image-container {

    @media screen and (min-width: 1001px) {
        margin: 10px 15%;
    }

    @media screen and (max-width: 1000px) {
        margin: 10px;
    }

    display: flex;
    flex: 0 1 auto;

    flex-wrap: wrap;

    @media screen and (min-width: 1001px) {
        flex-direction: row;
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
    a {
        flex: 0 0 auto;
        padding: 0 12px;
        flex-basis: 16.6666667%;
        max-width: 16.6666667%;
        margin: 0 10px;
    }
    img {
       width: 100%;
       height: 100%;
       object-fit: cover;
        margin: 5px;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 3px;
        transform: scale(.9);
        position: relative;
        z-index: 1;
        &:hover {
            transform: scale(1.1);
            position: relative;
            z-index: 2;
        }
    }
}